/*
 * Currently, less on bs generates this error:
 * Running "less:include_bootstrap" (less) task
 *   >> NameError: #grid > .core > .span is undefined in;
 *
 * This post <http://stackoverflow.com/questions/26628309/less-v2-does-not-compile-twitters-bootstrap-2-x>
 * suggest to add a mixin.
 */

#grid {
    .core  {
        .span(@gridColumns) {
            width: (@gridColumnWidth * @gridColumns) + (@gridGutterWidth * (@gridColumns - 1));
        }
    }
};